/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background and layout */
body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card style */
.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 350px;
}

/* Title styling */
.legend h1 {
    font-size: 24px;
    color: #333;
}

.legend h2 {
    font-size: 28px;
    color: #3f51b5;
    text-decoration: underline;
    margin-top: 10px;
}

/* Input and button styling */
.input {
    margin-top: 20px;
}

.input-container {
    position: relative;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fafafa;
}

input[type="text"]:focus {
    border-color: #3f51b5;
    outline: none;
}

.copy-btn {
    position: absolute;
    top: 35%;
    right: 3px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    
    border-radius:0rem 0.5rem 0.5rem 0rem;

}


.copy-btn img {
    width: 20px;
    height: 20px;
}
.copy-btn:hover{
    background-image: radial-gradient(white,rgba(88, 8, 8, 0.468));
}

/* Generate button styling */
.generate-btn {
    background-color: #3f51b5;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-btn:hover {
    background-color: #090f31;
}

.generate-btn:focus {
    outline: none;
}

/* Responsive adjustments */
@media (max-width: 400px) {
    .card {
        width: 90%;
        padding: 20px;
    }

    .legend h1 {
        font-size: 20px;
    }

    .legend h2 {
        font-size: 24px;
    }

    input[type="text"] {
        font-size: 14px;
    }
}
